* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #7d8488;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        .panel {
            height: 50px;
            font-size: 24px;
            font-weight: 700;
        }
        .board {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-template-rows: repeat(3, 100px);
            grid-gap: 10px;
            padding: 10px;
            border-radius: 5px;
            border: 2px solid #000;
            background-color: #263238;
            .board-item {
                background-color: #485459;
                border-radius: 5px;
                border: 2px solid #000;
                transition: all .1s linear;
                position: relative;
            }
            .board-item:hover {
                background-color: #515b60;
                cursor: pointer;
            }

            .board-item-X::before, .board-item-X::after {
                position: absolute;
                content: "";
                height: 5px;
                width: 100%;
                top: 50%;
                left: 0;
                background-color: red;
            }

            .board-item-X::before {
                transform: translateY(-50%) rotate(-45deg);
            }

            .board-item-X::after {
                transform: translateY(-50%) rotate(45deg);
            }

            .board-item-O::before {
                position: absolute;
                content: "";
                border-radius: 50%;
                border: 5px solid blue;
                top: 50%;
                left: 50%;
                width: 80%;
                height: 80%;
                transform: translate(-50%, -50%);
            }
        }
        .reset-button {
            margin-top: 20px;
            padding: 10px 20px;
            border: 2px solid #000;
            border-radius: 5px;
            text-transform: uppercase;
            background-color: #263238;
            font-weight: 800;
            letter-spacing: 1.5px;
            font-size: 16px;
            color: #fff;
            transition: background-color .3s;
            cursor: pointer;
        }
        .reset-button:hover {
            background-color: #485459;
        }
    }
}